/* Reduce whitespace between cells, adjust if needed
#issue-table table, #issue-table p {margin: 0em 0 !important}
#issue-table th, #issue-table td {padding: .3em}
 */
.open {color:#ff0000;}
.closed {color:#002BB8;}
.stopped {color:#222222;}
.fixed {color:#009900;}
.in_progress {color:#ff9900;}