.issue-table th, td {text-align:left !important}
.issue-table .open {color:#ff0000;}
.issue-table .closed {color:#002BB8;}
.issue-table .stopped {color:#222222;}
.issue-table .fixed {color:#009900;}
.issue-table .in_progress {color:#ff9900;}